node_modules/**
/backend/node_modules/**
backend/.idea/vcs.xml
backend/.idea/modules.xml
backend/.idea/misc.xml
backend/.idea/jsLibraryMappings.xml
backend/.idea/deployment.xml
backend/.idea/backend.iml
